@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
	background: rgb(21, 21, 73);
	font-size: 18px;
	overflow: hidden;
}

#programs {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 200px;
	border-radius: 12px;
	background: darkslategray;
	height: 300px;
	color: white;
	transition-property: width height;
	transition-duration: 200ms;
	transition-timing-function: ease;
	border: 3px solid #acacac;
	span {
		text-align: center;
		display: block;
		border-bottom: 3px solid #acacac;
		padding: 2px;
	}
	overflow: hidden;
}

#programs.collapse {
		height: 28px;
		width: 100px;
	}
	
#programs .program {
	padding: 2px 8px;
	background-color: #203838;
	border-radius: 8px;
	margin: 8px;
	border: 2px solid #acacac;
}

#program-list {
	overflow: auto;
}

* {
	font-family: Nunito;
	font-weight: 600;
	user-select: none;
}

.window {
	background: #1a1a1a;
	position: absolute;
	top: 5px;
	left: 5px;
	border: 3px solid #acacac;
	border-radius: 12px;
	iframe {
		border: 0;
	}
	.titlebar {
		height: 24px;
		color: white;
		border-bottom: 3px solid #acacac;
		margin-bottom: 5px;
		padding-top: 3px;
		padding-inline: 10px;
		background-color: #131313;
		overflow: hidden;
		border-top-left-radius: 9px;
		border-top-right-radius: 9px;
		.close {
			position: absolute;
			right: 7px;
			top: -3px;
			font-size: 24px;
			font-weight: 800;
			padding-inline: 5px;
		}
	}
	iframe {
		margin-inline: 5px;
	}
}